.container {
  padding: 20px;
  background-color: #3f51b5;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 5;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}
.navWrapper {
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
